<!DOCTYPE html>
<html>
<head>
	<title>Message Scheduling Workflow</title>
</head>
<body>
	<h1>Message Scheduling Workflow</h1>
	<p>This is an example of the steps a court admin would walk through after a person has been been charged.</p>
	<h2>Options</h2>
	<form action="/start" id="first-input" method="GET">
	<label><input type="radio" name="start" value="schedule">Schedule messages</label><br>
	<label><input type="radio" name="start" value="modify">Modify messages</label><br>
	<label><input type="submit" value="Submit"></label>
	</form>

</body>

<footer>
	

</footer>
</html>