
<!DOCTYPE html>
<html>
  <head>
    <title>Type</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1>Type</h1>
    <p>Please input whether the offender is an adult or juvenile:</p>
    <form class="type" action="/status">
      <label><input type="radio" name="type" value="adult">Adult</label><br>
      <label><input type="radio" name="type" value="juvenile">Juvenile</label><br>
      <label><input type="submit" value="Submit"></label>
    </form>
  </body>
</html>
